.add-todo-container {
	display: flex;
	flex-direction: row;
}

.add-todo-input {
	display: flex;
	flex: 9;
	border-radius: 3px;
	border: 1px rgba(122, 122, 122, 0.5) solid;
	padding: 4px;
	margin-right: 30px;
}

.add-todo-button {
	display: flex;
	flex: 1;
	justify-content: center;
	color: white;
	background-color: rgba(42, 102, 232,  1);
	border-radius: 3px;
}