p {
	font-family: 'Roboto';
	color: rgba(34, 34, 34, 1);
}

.app-container {
	display: flex;
	flex-direction: column;
}

.app-title {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}

.app-content {
	margin: auto;
	width: 30%;
}